body {
	background-color: #eeeeee;
}

.header {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
	color: #303030;
}

.header__logo {
	width: 22%;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

.header__nav {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.header__ref {
	padding: 0 15px;
	text-decoration: none;
	color: #303030;
}

.header__burger {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

/*==================================================*/

.product {
	width: 60%;
	height: 400px;
	margin: 30px auto;
	position: relative;
}

.product__content {
	font-family: 'Roboto', sans-serif;
	width: 50%;
	height: 80%;
	display: inline-block;
	text-align: right;
	position: absolute;
	z-index: 1;

}

.product__title {
	font-family: 'Raleway', sans-serif;
	text-align: right;
	text-transform: uppercase;
	font-size: 90px;
	line-height: 1;
	margin-bottom: 0;
	color: #303030;
	margin-top: 0;
}

.product__txt {
	display: inline-block;
	text-align: right;
	width: 85%;
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
}

.product__btn {
	border: none;
	color: #e10011;
	font-weight: bold;
	background-color: transparent;
	transition: all .5s ease;
	outline: none;
}

.product__btn:hover {
	font-size: 17px;
	transition: all .5s ease;
}

.product__slider {
	width: 10%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	margin: auto;
	text-align: center;
}

.product__dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #464646;
}

.product__dot:hover {
	background-color: #e10011;
	cursor: pointer;
}

.product__view {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 50%;
	height: 80%;
	background: url(images/product.png) no-repeat;
	background-size: 100%;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s ease;
}

.product__view:hover {
	background-size: 110%;
	transition: all .5s ease;
}

/*==================================================*/

.gallery {
	width: 60%;
	height: 750px;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	font-family: 'Raleway', sans-serif;
	color: #303030;
}

.gallery__title {
	text-align: center;
	margin-bottom: 0;
	padding: 50px 0 5px;
}

.gallery__uline {
	width: 20%;
	display: block;
	margin: 0 auto;
}

.gallery__txt {
	text-align: center;
	margin: 5px auto 40px;
	width: 55%;
	font-size: 14px;

}

.gallery__views {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 69%;
}

.gallery__view1 {
	overflow: hidden;
	display: inline-block;
	width: 65%;
	height: 47%;
	margin-right: 32px;
	margin-bottom: 32px;
	margin-right: 4%;
	margin-bottom: 4%;
	background-color: #eeeeee;
}

.gallery__view2 {
	overflow: hidden;
	display: inline-block;
	width: 30%;
	height: 47%;
	margin-bottom: 32px;
	margin-bottom: 4%;
	background-color: #eeeeee;
}

.gallery__view3 {
	overflow: hidden;
	display: inline-block;
	width: 30%;
	height: 47%;
	margin-right: 32px;
	margin-right: 4%;
	background-color: #eeeeee;
}

.gallery__view4 {
	overflow: hidden;
	display: inline-block;
	width: 30%;
	height: 47%;
	margin-right: 32px;
	margin-right: 4.5%;
	background-color: #eeeeee;
}

.gallery__view5 {
	overflow: hidden;
	display: inline-block;
	width: 30%;
	height: 47%;
	background-color: #eeeeee;
}

.gallery__img1 {
	background: url(images/gall_prod_1.png) no-repeat;
	background-size: 100%;
	background-position: bottom;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery__img2 {
	background: url(images/gall_prod_2.png) no-repeat;
	background-size: 125%;
	background-position: bottom;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery__img3 {
	background: url(images/gall_prod_3.png) no-repeat;
	background-size: 190%;
	background-position: left;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery__img4 {
	background: url(images/gall_prod_4.png) no-repeat;
	background-size: 180%;
	background-position: right;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery__img5 {
	background: url(images/gall_prod_5.png) no-repeat;
	background-size: 100%;
	background-position: bottom;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/*----------------------------*/

.gallery__img1:hover {
	background: #e10011;
	transition: all 1s ease;
	position: relative;
}

.gallery__img2:hover {
	background: #e10011;
	transition: all 1s ease;
	position: relative;
}

.gallery__img3:hover {
	background: #e10011;
	transition: all 1s ease;
	position: relative;
}

.gallery__img4:hover {
	background: #e10011;
	transition: all 1s ease;
	position: relative;
}

.gallery__img5:hover {
	background: #e10011;
	transition: all 1s ease;
	position: relative;
}

.gallery__description {
	display: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	bottom: 30px;
	left: 20px;
}

.gallery__description--ulined {
	border-bottom: 2px solid;
	padding-bottom: 5px;
}

.gallery__img1:hover .gallery__description {
	display: inherit;
}

.gallery__img2:hover .gallery__description {
	display: inherit;
}

.gallery__img3:hover .gallery__description {
	display: inherit;
}

.gallery__img4:hover .gallery__description {
	display: inherit;
}

.gallery__img5:hover .gallery__description {
	display: inherit;
}

.gallery__img1:active {
	background: #84000a;
	transition: all 0s ease;
}

.gallery__img2:active {
	background: #84000a;
	transition: all 0s ease;
}

.gallery__img3:active {
	background: #84000a;
	transition: all 0s ease;
}

.gallery__img4:active {
	background: #84000a;
	transition: all 0s ease;
}

.gallery__img5:active {
	background: #84000a;
	transition: all 0s ease;
}

/*==================================================*/

.contact {
	width: 60%;
	margin: 60px auto;
}

.contact__title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact__txt {
	font-family: 'Raleway', sans-serif;
	width: 55%;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}

.contact__input {
	position: relative;
	width: 70%;
	margin: 30px auto;
	text-align: center;
	font-size: 12px;
}

.contact__email {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	border: none;
	width: 50%;
	padding: 15px 40px;
	border-radius: 30px 0 0 30px;
	outline: none;
}

.contact__btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	background-color: #e10011;
	border-radius: 0 30px 30px 0;
	padding: 15px 40px;
	outline: none;
	transition: all .3s ease;
}

.contact__btn:active {
	background-color: #84000a;
}

/*==================================================*/

.footer {
	padding: 20px;
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	color: #979797;
	text-align: center;
}

.footer__socials {
	width: 30%;
	height: 50px;
	margin: 0 auto 50px;
}

.footer__logo {
	cursor: pointer;
	display: inline-block;
	width: 15%;
	height: 100%;
	filter: grayscale(100%);
	transition: all .3s ease;
}

.footer__logo:hover {
	filter: grayscale(0%);
	transition: all .3s ease;
}

.footer__fb {
	background: url(images/fb-h.png) no-repeat;
	background-size: contain;
	background-position: center;
}

.footer__tw {
	background: url(images/tw-h.png) no-repeat;
	background-size: contain;
	background-position: center;
}

.footer__yt {
	background: url(images/yt-h.png) no-repeat;
	background-size: contain;
	background-position: center;
}

.footer__me {
	background: url(images/me-h.png) no-repeat;
	background-size: contain;
	background-position: center;
}

.footer__ref {
	color: #303030;
	text-decoration: none;
}

